// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {

}

h1 {
    text-transform: uppercase;
    color: $orange;
    font-weight: 900;
  }

h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1% 0 2% 0%;
}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  @include hover {

  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}
