.catalog {
  &__title {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 99;
    text-shadow: 0.05rem 0.05rem $orange;
    font-size: 1.2rem;
  }

  &__image,
  &__image--topmargin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    img {
      opacity: 0.45;
    }
  }

  &__image--topmargin {
    margin: 1.5rem 0 0 0;
  }

  &__description {
    text-align: justify;
  }
}

.views {
  &-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-exposed-form {
    display: flex;

    .js-form-item-search-api-fulltext {
      width: 100%;
    }
  }
}

.page-item.disabled .page-link {
  background-color: #212529;
  border-color: #212529;
}
