.catalog {
  &__title {
    position: relative;
    display: flex;
    justify-content: center;
    top: 7rem;
    z-index: 99;
    text-shadow: 0.05rem 0.05rem $orange;
    font-size: 1.2rem;
  }

  &__image {
    opacity: 0.45;
    margin-bottom: 2rem;
  }

  &__description {
    text-align: justify;
  }
}

.views-exposed-form {
  display: flex;

  .js-form-item-search-api-fulltext {
    width: 100%;
  }
}
