.facets-widget-checkbox {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-inline-start: 0;
  }

  li {
    padding: 0rem 1rem;
  }
}

.block--genretags {
  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: $orange;
    font-weight: bold;
    text-align: center;
  }
}

.facet-item__value {
  padding-left: 0.3rem;
}
