.cta {
  &__body {
    position: relative;
    height: 40vh;
    width: 90%;
    display: table-cell;
    vertical-align: middle;
  }

  &__image {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    overflow: hidden;
    height: 40vh;
  }
}
