.cta {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 3rem 0;

    p:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
