.featured-game {
  &__body {
    height: 50vh;
    position: relative;
    width: 50%;
    margin-left: 1%;

    h3 {
      text-align: center;
    }
  }

  &__field-featured-image {
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    overflow: hidden;
    height: 50vh;
  }
}


