.featured-game {
  &__field-title {
    background-color: $sanjuan;
    padding-bottom: 0.063rem;
  }

  &__body {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 2rem 6rem 1rem 1rem;
  }

  &__field-image {
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    overflow: hidden;
    outline: 0.031rem solid $black;
  }
}

.games-to-fight-the-day {
  &__body {
    background: $sanjuan;
    padding: 0.3rem 1rem 0.2rem 1rem;
    outline: 0.031rem solid $black;
    margin-bottom: 2.5rem;
  }

  &__field-image {
    outline: 0.031rem solid $black;
  }
}
