.genres-to-play {
  &__body {
    margin-top: 3rem;
  }

  &__field-genre {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .field__item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0.5rem 0.5rem;
      width: 120px;
      height: 120px;

      &:nth-child(7n + 1),
      &:nth-child(7n + 7) {
        background-color: rgba($orange, 0.7);
      }

      &:nth-child(7n + 2),
      &:nth-child(7n + 6) {
        background-color: rgba($orange, 0.8);
      }

      &:nth-child(7n + 3),
      &:nth-child(7n + 5) {
        background-color: rgba($orange, 0.9);
      }

      &:nth-child(7n + 4) {
        background-color: $orange;
      }
    }
  }
}
