.heroshot {
  &__body {
    height: 90vh;
    position: relative;
    width: 80%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 90vh;
    opacity: 0.5;
    overflow: hidden;
  }
}


