.heroshot {
  &__body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__field-image {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    overflow: hidden;
    height: 90vh;
  }
}
