@media screen and (max-width: 576px) {
  .user {
    &__field {
      &-first-name,
      &-last-name,
      &-self-summary {
        flex-direction: column;
        text-align: center;

        .field__label {
          margin-bottom: 0;
        }
      }

      &-first-name,
      &-last-name,
      &-self-summary {
        .field__item {
          margin: 0 1rem 2rem 1rem;
        }
      }
    }
  }

  header .orangeupper,
  footer .btn-secondary {
    display: flex;
    justify-content: center;
  }

  .views-view-responsive-grid .views-col {
    width: 100% !important;
    margin-bottom: 0;
  }

  .heroshot__body {
    padding: 5rem 0;
    .heading1 {
      font-size: 3.2rem;
    }

    .heading2 {
      font-size: 2rem;
    }
  }
}
