.field--name {
  &-title,
  &-body,
  &-field-genres,
  &-revision-log {
    color: $orange;
  }
}

.card-header,
.card-body {
  background-color: $black;

  span {
    color: $orange;
  }
}

#edit-field-image-0--label {
  color: $orange;
}

.link-edit-summary {
  background: black;
  border: none;
  color: orange;
  padding: 0;
}
