// Custom style for the Product component.
// -----------------------------------------------------------------------------
.product {
  &__title {
    position: relative;
    display: flex;
    justify-content: center;
    top: 23rem;
    font-size: 3rem;
    color: $gray-500;
  }

  &__body {
    text-align: justify;
    background-color: $gray-700;
    padding: 3rem;
  }

  &__field-image {
    opacity: 0.3;
  }

  &__field-genres {
    text-align: center;
    background-color: $gray-700;
  }

  &__similar-games-title {
    font-size: 1rem;
    font-weight: 700;
  }
}
